@model List<Employee>

<div class="display-3">Employees</div>
<hr>

@foreach(Employee employee in Model)
{
    <div class="lead">
        <h6>@employee.FullName</h6>
        <p><strong>Age:</strong>@employee.Age</p>
    </div>
    <hr>
}